[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
